---
import { withBase } from "@/lib/urls";
import { BASE_LINK_CLASS, BODY_TEXT_CLASS, SUBSECTION_TITLE_CLASS } from "@/shared/ui/tailwind";
---

<section aria-labelledby="submods-heading" class="flex flex-col gap-sm">
  <h3 id="submods-heading" class={SUBSECTION_TITLE_CLASS}>Submods</h3>
  <p class={BODY_TEXT_CLASS}>
    <strong>DISCLAIMER</strong> Any issues with a submod should be first reported to the submod you are playing with. Even
    something as simple as a graphics mod could break something in Millennium Dawn.
  </p>
  <p class={BODY_TEXT_CLASS}>
    For a list of Known Submods follow this <a class:list={[BASE_LINK_CLASS, "inline-block py-1"]} href={withBase("/misc/known-submods/")}>link</a>.
  </p>
</section>
