---
import { parseInlineMarkdown } from "@/lib/inline-markdown";
import { BASE_LINK_CLASS, BODY_TEXT_CLASS } from "./tailwind";

interface Props {
  text: string;
  as?: "p" | "span";
}

const { text, as: tag = "p" }: Props = Astro.props;
const Tag = tag;
---

<Tag class={tag === "p" ? BODY_TEXT_CLASS : "inline"}>
  {parseInlineMarkdown(text).map((part) =>
    part.type === "link" ? <a class={BASE_LINK_CLASS} href={part.href}>{part.value}</a> : part.value,
  )}
</Tag>
